.location{
  display: flex;

  .locationContainer{
    flex: 6;


    height: calc(100vh - 60px);  // 60px = navbar height, adjust as needed
    overflow: hidden;
    
    .locationContent{
      padding: 50px 100px;
    }
  }
}