@import '../../styles/variables';
@import '../../styles/mixins';

.home {
  display: flex;

  .homeContainer {
    flex: 6;
    
    
    
    .charts {
      @include card-container;
      @include flex-wrap;
      align-items: stretch;
    }

    .widgetsContainer{
      @include card-container;
      @include flex-column;
      gap: $spacing-md;

      
       
        .text {
          @include heading-text;
        }

      .widgets{
        @include flex-wrap;
        flex-direction: row;
      }
    }

    .charts {
      flex-direction: row;
      gap: 60px;
    }

    .graphs, .pieChart {
      flex: 3;
      @include flex-column;
      justify-content: center; // ensures vertical centering
      gap: $spacing-md;
    }

    .pieChart{
      padding-right: $spacing-md;
      display: flex;
    }

  }
}
