.schedule{
display: flex;

  .scheduleContainer{
    flex: 6;

    .schedulefilterContainer{
      padding: 50px 100px 30px 100px;
    }

    .weeklyScheduleContainer{
      padding: 0px 100px 0px 100px;
      
    }
  }
}